#root div {
    background-color: red;
    padding: 20px;
}

#root button {
    margin-top: 10px;
    margin-bottom: 10px;
}

#root div.available {
    background-color: green;
}

#root div.nearby span:after {
    content: "nearby";
    margin-left: 2px;
}